$padding-bottom-default: $line-height-default * $font-size-default / 2;

html, body {
  font-family: $font-family;
  font-size: $font-size-default;
  color: $font-color-main;
  line-height: $line-height-default;
  position: relative;
  background: white;
}

html, body, input, textarea, keygen, select, button, a {
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: $brand-color;
  outline: none;
  &:hover { text-decoration: underline;  }
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: $bg-default;
  border-bottom: $border-default;
  transition: 0.3s;
  z-index: 2;

  .scrolled & {
    height: 45px;
  }
}

.footer {
  width: 100%;
}

/*
 * GRID
 */

@mixin column-mixin($n) {
  flex-basis: 8.3333333% * $n;
  box-sizing: border-box;
}

$gutter: 20px;

.row {
  display: flex;
  // flex-wrap: wrap;

  .col-1 { @include column-mixin(1); }
  .col-2 { @include column-mixin(2); }
  .col-3 { @include column-mixin(3); }
  .col-4 { @include column-mixin(4); }
  .col-5 { @include column-mixin(5); }
  .col-6 { @include column-mixin(6); }
  .col-7 { @include column-mixin(7); }
  .col-8 { @include column-mixin(8); }
  .col-9 { @include column-mixin(9); }
  .col-10 { @include column-mixin(10); }
  .col-11 { @include column-mixin(11); }
  .col-12 { @include column-mixin(12); }
  &.with-padding > div[class^="col-"]{
    padding-left: $gutter;
  }
  &.with-padding div[class^="col-"]:first-child {
    padding-left: 0px;
  }
  &.center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.vert-top {
    align-items: flex-start;
  }
  &.vert-center {
    align-items: center;
  }
  &.vert-bottom {
    align-items: flex-end;
  }
}

.col-fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.f-700 {
  flex-basis: 700px;
}

.f-300 {
  flex-basis: 300px;
}

.auto {
  flex: 1 1 auto;
}
