@mixin bg-n-border($color) {
  background-color: $color;
  border-color: $color;
}

@mixin button-colors($color, $font-color:white) {
  @include bg-n-border($color);
  @if $font-color { color: $font-color; }
  @else { color: $font-color-light; }

  &:hover {
    @include bg-n-border( saturate( $color, 30% ) );
    @if $font-color { color: $font-color; }
    @else { color: $font-color-light; }
  }

  &.disabled, &:disabled {
    cursor: initial;

    &, &:hover, &:focus {
      @include bg-n-border( lighten(desaturate( $color, 20% ), 10%));
    }
  }
}

button.button {
  font-size: 0.875rem;
  outline: none;
  border: none;
  padding: 0.675rem 2rem;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 500;
  margin: .375rem 0;
  vertical-align: top;
  transition: background 0.3s, border-color 0.3s, color 0.3s;

  &.fluid { width: 100%; }
  &.smallest { font-size: 0.75rem; padding: .35rem 1rem; }
  &.small { font-size: 0.75rem; padding: .5rem 1.5rem; }
  &.big { font-size: 1.25rem; padding: .75rem 2rem; }
  &.biggest { font-size: 1.5rem; padding: 1rem 3rem; }

  &.bordered { &:hover { color: lighten($font-color-main, 30%); } }
  &.error { @include button-colors($err-color); }
  &.warn { @include button-colors($warn-color); &:hover { @include bg-n-border( saturate( adjust-hue($warn-color, 7), 40% ) ); } }
  &.info { @include button-colors($info-color); }
  &.success { @include button-colors($succ-color); }
  &.bordered
  {
    border-width: 2px;
    border-style: solid;
    border-radius: 2em;
    background-color: transparent;
    color: $font-color-main;
  }
  @include button-colors($button-default, $font-color-main);
  color: darken($button-default, 60%);
}
