.form {
  input, select, textarea {
    padding: 7px 12px;
    outline: none;
    border-width: 0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    background: white;

    &:disabled { background: #f3f3f3; }
  }

  .form-input {
    position: relative;
    display: inline-block;
    margin: 5px 0;

    input,
    textarea {
      outline: none;
      box-shadow: none;
      &:not(:disabled) {
        box-shadow: inset 0 0 0 2px $button-default;
        &:hover { box-shadow: inset 0 0 0 2px darken($button-default, 10%); }

        & + label {
          background: none;
          pointer-events: none;
          transition: box-shadow 0.25s;

          &:before, &:after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            border: 2px solid transparent;
            width: 0; height: 0;
          }

            // This covers the top & right borders (expands right, then down)
          &:before {
            top: 0; left: 0;
            transition: // Animate height first, then width
              box-shadow 1s,
              border-color .45s ease-out,
              height 0.15s ease-out, // Width expands first
              width 0.15s ease-out 0.15s; // And then height
          }
          &:after {
            bottom: 0; right: 0; top: 0; left: 0;
            transition: // Animate height first, then width
              box-shadow 1s,
              border-color .45s ease-out,
              width 0.15s ease-out,
              height 0.15s ease-out 0.15s;
          }
        }
      }
    }

    input.error {
      box-shadow: inset 0 0 0 2px $err-color;
      &:hover { box-shadow: inset 0 0 0 2px darken($err-color, 10%); }
    }

    input.success  {
      box-shadow: inset 0 0 0 2px $succ-color;
      &:hover {  box-shadow: inset 0 0 0 2px darken($succ-color, 10%); }
    }

    input:not([type="checkbox"]):focus + label,
    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label,
    textarea:focus + label {
      &:before, &:after { width: 100%; height: 100%; }
      &:before {
        border-top-color: $info-color; // Make borders visible
        border-right-color: $info-color;
        transition:
          width 0.15s ease-out, // Width expands first
          height 0.15s ease-out 0.15s; // And then height
      }

      &:after {
        border-bottom-color: $info-color; // Make borders visible
        border-left-color: $info-color;
        transition: // Animate height first, then width
          height 0.15s ease-out,
          width 0.15s ease-out 0.15s;
      }
    }
    input[type="checkbox"],
    input[type="radio"] {
      opacity: 0;

      & + label {
        margin-left: -30px;
        padding: 5px;
        padding-left: 30px;
        pointer-events: initial;
        &:hover { background: #fafafa; }

        &:before, &:after { top: 5px; left: 3px; }
        &:before {
          content: "\f00c";
          font-family: FontAwesome;
          font-size: 11px;
          line-height: 1.1;
          color: $button-default;
          transition: color .3s;
        }
      }

      &:focus + label { background: #f3f3f3; }

      &:checked + label {
        &:before, &:after { width: 15px; height: 15px; }
        &:before { color: $info-color; }
      }
    }
    input[type="radio"] + label {
      &:before, &:after { border-radius: 50%; }
      &:before {
          content: "\f111";
          font-family: FontAwesome;
          font-size: 6px;
          line-height: 12px;
          padding-left:3px;
          color: $button-default;
          transition: color .3s;
        }
    }
  }

  .form-input {
    position: relative;

    select + label {
      display: inline-block;

      &:after {
        pointer-events: none;
        content: "\f078";
        display: block;
        font-family: FontAwesome;
        color: $button-default;
        font-size: 16px;
        margin-left: -30px;
        transition: .3s;
      }
    }

    select {
      background: white;
      box-shadow: inset 0 0 0 2px $button-default;
      padding-right: 40px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:after { content: "ASDASDS";}

      &:disabled {
        pointer-events: none;
        background: #f3f3f3;
        box-shadow: 0 0 0 0;
      }
      &:focus {
        box-shadow: inset 0 0 0 2px black;
      }
    }
  }

  textarea {
    &:after { content: "ASDASD"}
  }
}