.table {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  tr { 
    border-bottom: 1px solid $button-default; 
  }
  td { padding: .25em 1em .25em .5em; }
  thead {
    border-bottom: 2px solid $button-default;
  }
  &.row-colored {
    tr:nth-child(even) {
      background: rgba($button-default, .2);
    }
  }
  &.f-column-border {
    td:first-of-type {
      border-right: 2px solid $button-default;
    }
  }
  &.l-column-border {
    td:last-of-type {
      border-left: 2px solid $button-default;
    }
  }
  &.bordered {
    border: 1px solid $button-default;
  }
}